/* основной CSS файл */

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wrap {
    margin-bottom: 30px;
    margin-right: 30px;
}

.imgGoods {
    height: 200px;
    width: 200px;
}